[Unit]
Description=My Shutdown Hook
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=/home/vboxuser/service-producer/shutdown-hook.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
